<ion-view title="Analytics" id="analytics">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-ios-pie-outline"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 40px;"></div>
    <div style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#857874;margin-bottom: 26px">View by Date</p>
    </div>
    <form class="list">
     	
      
        <span class="input-label">Input</span>
        <input type="date" placeholder="" ng-model="searchDate" ng-blur="">
		
      
      <div class="spacer" style="height: 40px;"></div>
      <div style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#857874;margin-bottom: 26px">View by Date Range</p>
      </div>
      <a href="#/analyticsByDateRange">
      
        <span class="input-label">Start Date</span>
        <input type="date" ng-model="startDate" placeholder=""><!--ng-blur here however a function will not fire inside a label-->
      
      
        <span class="input-label">End Date</span>
        <input type="date" ng-model="endDate" ng-blur="searchByDateRange()" placeholder="">
      
		</a>
      <div class="spacer" style="height: 40px;margin-bottom: 40px"></div>
      <div style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#857874; margin-bottom: 26px">View by Deal</p>
      </div>
      <a href="#/analyticsByDealName">
      
        <span class="input-label">Select Deal:</span>
        <select ng-model="dealName" ng-blur="searchByDealName()">
          <option ng-repeat="x in deals">{{deal_name}}</option>
          
        </select>
      
      </a>
    </form>
    <a ui-sref="viewAnalyticsDealName" style="font-weight:600;" class="button button-energized  button-block icon ion-information-circled"> View Data</a>
    <button ng-click="searchByDate()" class="button button-energized">click</button>
  </ion-content>
</ion-view>