<ion-view title="View Analytics (Date Range)" id="analyticsByDateRange">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 23px;"></div>
    <div style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#857874;">You are viewing data for</p>
    </div>
    <h4 style="color:#E03C31;font-weight:600;text-align:center;" class="image2">Feb 1st- Feb 14th 2017</h4>
    <table>
      <tbody>
        <tr>
          <th>Date</th>
          <th>Deal Name</th>
          <th>Deals Sold</th>

        </tr>
        <tr>
          <td>1/1/17</td>
          <td> FREE Wine Friday! 5pm to 7pm</td>
          <td>10/15</td>

        </tr>
        <tr class="even">
          <td>8/1/17</td>
          <td>Fish of the day. 50% 12pm to 1pm</td>
          <td>10/10</td>

        </tr>
        <tr>
          <td>8/1/17</td>
          <td>Best steak this side of the Liffey! Love it or get your money back!! 12345 (60 Characters max)</td>
          <td>5/10</td>

        </tr>
        <tr class="end">

          <td></td>
          <td>Total Deals </td>
          <td>25/35</td>
        </tr>
      </tbody>
    </table>
  </ion-content>
</ion-view>