<ion-view title="Analytics" id="analytics">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-ios-pie-outline"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 23px;"></div>
    <div style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#857874;">View by Date</p>
    </div>
    <form class="list">
     
      <label class="item item-input image">
        <span class="input-label">Input</span>
        <input type="date" placeholder="" ><!--ng-blur here however a function will not fire inside a label-->
      </label>
      
      <div class="spacer" style="height: 60px;"></div>
      <div style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#857874;">View by Date Range</p>
      </div>
      <label class="item item-input image">
        <span class="input-label">Start Date</span>
        <input type="date" placeholder=""><!--ng-blur here however a function will not fire inside a label-->
      </label>
      <label class="item item-input">
        <span class="input-label">End Date</span>
        <input type="date" placeholder="">
      </label>
      <div class="spacer" style="height: 60px;"></div>
      <div style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#857874;">View by Deal</p>
      </div>
      <label class="item item-select image">
        <span class="input-label">Select Deal:</span>
        <select>
          <option>Free Wine Friday!! 4pm to 6pm</option>
          <option>Tuesday Evening Happy Hour. 5pm</option>
          <option>This is another deal!</option>
        </select>
      </label>
    </form>
    <a ui-sref="viewAnalyticsDealName" style="font-weight:600;" class="button button-energized  button-block icon ion-information-circled"> View Data</a>
  </ion-content>
</ion-view>