<ion-view title="View Analytics (Date)" id="analyticsByDate">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 23px;"></div>
    <div style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#857874;">You are viewing data for</p>
    </div>
    <h4 style="color:#E03C31;font-weight:600;text-align:center;" class="image2">{{dateFor | date : fullDate}}</h4>
    <table>
      <tbody>
        <tr style="border-top: 1px solid red; height:60px; border-bottom: 3px solid red;">
          <th style="width:40%; text-align:left;"><strong>Date</strong></th>
          <th style="width:40%; text-align:left;"><strong>Deal Name</strong></th>
          <th style="width:30%; text-align:left;"><strong>Deals Sold</strong></th>

        </tr>
        <div class="spacer" style="height: 23px;"></div>
        <!--change the dates on the deals to date objects if possible-->
        <tr ng-repeat="deal in analByDate" style="height:40px; margin-bottom:540px; border-bottom: 1px solid lightgrey;">
          <td>{{deal.startDate | date : short}}</td>
          <td>{{deal.deal_name | date : short}} </td>
          <td>{{deal.uptake}}/{{deal.numberAvailable}}</td>

        </tr>
        
        <tr class="end">

          <td></td>
          <td>Total Deals </td>
          <td>25/35</td>
        </tr>
      </tbody>
    </table>
  </ion-content>
</ion-view>