<ion-view title="Todays Bookings" id="bookings">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 10px;"></div>
    <h4 style="color:#E03C31;font-weight:600;text-align:center;">TODAY'S BOOKINGS</h4>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list>
      <ion-item class="item-avatar stable  item-text-wrap list-height today" ui-sref="tABS.bookingDetails" ng-click="bookingDetails()">
        <img src="https://s3.amazonaws.com/ionic-io-static/EGzQ5CcDS3ODKJcQE11W_Asset 1.png">
        <h2stable>Benedict Cumberbatch
          <p style="white-space:normal;">16.30</p>
        </h2stable>
      </ion-item>
      <ion-item class="item-avatar stable  item-text-wrap list-height" ui-sref="tABS.bookingDetails" ng-click="bookingDetails()">
        <img src="https://s3.amazonaws.com/ionic-io-static/EGzQ5CcDS3ODKJcQE11W_Asset 1.png">
        <h2stable>Niamh Mary Catherine Kehoe
          <p style="white-space:normal;">Reservation Time</p>
        </h2stable>
      </ion-item>
      <ion-item class="item-avatar stable  item-text-wrap list-height" ui-sref="tABS.bookingDetails" ng-click="bookingDetails()">
        <img src="https://s3.amazonaws.com/ionic-io-static/EGzQ5CcDS3ODKJcQE11W_Asset 1.png">
        <h2stable>Cait Jennifer Catherine Dwyer
          <p>Reservation Time</p>
        </h2stable>
      </ion-item>
      <ion-item class="item-avatar stable  item-text-wrap list-height" ui-sref="tABS.bookingDetails" ng-click="bookingDetails()">
        <img src="https://s3.amazonaws.com/ionic-io-static/EGzQ5CcDS3ODKJcQE11W_Asset 1.png">
        <h2stable>Cian Michael Joseph Dwyer
          <p>Reservation Time</p>
        </h2stable>
      </ion-item>
      <ion-item class="item-avatar stable  item-text-wrap list-height" ui-sref="tABS.bookingDetails" ng-click="bookingDetails()">
        <img src="https://s3.amazonaws.com/ionic-io-static/EGzQ5CcDS3ODKJcQE11W_Asset 1.png">
        <h2stable>Wendy Jane Martha Myler
          <p>Reservation Time</p>
        </h2stable>
      </ion-item>
      <ion-item class="item-avatar stable  item-text-wrap list-height" ui-sref="tABS.bookingDetails" ng-click="bookingDetails()">
        <img src="https://s3.amazonaws.com/ionic-io-static/EGzQ5CcDS3ODKJcQE11W_Asset 1.png">
        <h2stable>Customer Name
          <p>Reservation Time</p>
        </h2stable>
      </ion-item>
      <ion-item class="item-avatar stable  item-text-wrap list-height" ui-sref="tABS.bookingDetails" ng-click="bookingDetails()">
        <img src="https://s3.amazonaws.com/ionic-io-static/EGzQ5CcDS3ODKJcQE11W_Asset 1.png">
        <h2stable>Customer Name
          <p>Reservation Time</p>
        </h2stable>
      </ion-item>
      <ion-item class="item-avatar stable  item-text-wrap list-height" ui-sref="tABS.bookingDetails" ng-click="bookingDetails()">
        <img src="https://s3.amazonaws.com/ionic-io-static/EGzQ5CcDS3ODKJcQE11W_Asset 1.png">
        <h2stable>Customer Name
          <p>Reservation Time</p>
        </h2stable>
      </ion-item>
      <ion-item class="item-avatar stable  item-text-wrap list-height" ui-sref="tABS.bookingDetails" ng-click="bookingDetails()">
        <img src="https://s3.amazonaws.com/ionic-io-static/EGzQ5CcDS3ODKJcQE11W_Asset 1.png">
        <h2stable>Customer Name
          <p>Reservation Time</p>
        </h2stable>
      </ion-item>
      <ion-item class="item-avatar stable  item-text-wrap list-height" ui-sref="tABS.bookingDetails" ng-click="bookingDetails()">
        <img src="https://s3.amazonaws.com/ionic-io-static/EGzQ5CcDS3ODKJcQE11W_Asset 1.png">
        <h2stable>Customer Name
          <p>Reservation Time</p>
        </h2stable>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>