<ion-view title="Todays Bookings" id="bookings">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 10px;"></div>
    <h4 style="color:#E03C31;font-weight:600;text-align:center;">TODAY'S BOOKINGS</h4>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list>
      <ion-item class="item-avatar stable  item-text-wrap list-height today" ng-click="bookingDetails()"
       ng-repeat="b in bookings">
        <img src="https://s3.amazonaws.com/ionic-io-static/EGzQ5CcDS3ODKJcQE11W_Asset 1.png">
        <h2stable>{{b.name}}
          <p style="white-space:normal;">{{b.time}}</p>
        </h2stable>
      </ion-item>
      
    </ion-list>
  </ion-content>
</ion-view>