<ion-view title="Account Type" id="custOrRest" style="background-color:default;">
  <ion-content padding="true" class="has-header">
    <form class="list">
      <div>
        <img src="https://s3.amazonaws.com/ionic-io-static/n5xqYMxvQ3GM09htPqdf_GrabaBite_logo-SafeArea.svg" style="display: block; width: 55%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="height: 15px;"></div>
     		<h4>Are you a...</h4>
      <div class="spacer" style="width: 300px; height: 23px;"></div>

      <button style="font-weight:600;" class="button button-energized  button-block icon ion-android-checkbox-outline" 
      ng-click="customer()">Customer</button>
      
      <button style="font-weight:600;" class="button button-energized  button-block icon ion-android-checkbox-outline" 
      ng-click="restaurant()">Restaurant</button>

      
      
    </form>
    
  </ion-content>
</ion-view>
