<ion-view title="Sign Up" id="customerSignUpRestEd">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="https://s3.amazonaws.com/ionic-io-static/B97yA00jRnaULSsq7bxP_GrabaBite_logo-SafeArea.svg" style="display: block; width: 55%; height: 55%; margin-left: auto; margin-right: auto;">
    </div>
    <form class="list">
      <label class="item item-input">
        <input type="text" ng-model="main.newCust.account_name" placeholder="UserName">
        <i class="icon ion-edit icon-accessory icon-right"></i>
      </label>
      <label class="item item-input">
        <input type="email" ng-model="main.newCust.email" placeholder="Email">
        <i class="icon ion-edit icon-accessory icon-right"></i>
      </label>
      <label class="item item-input">
        <input type="tel" ng-model="main.newCust.phone" placeholder="Phone Number">
        <i class="icon ion-edit icon-accessory icon-right"></i>
      </label>
      <label class="item item-input">
        <input type="password" ng-model="main.newCust.password1" placeholder="Password">
        <i class="icon ion-edit icon-accessory icon-right"></i>
      </label>
      <label class="item item-input">
        <input type="password" ng-model="main.newCust.password2" placeholder="Password">
        <i class="icon ion-edit icon-accessory icon-right"></i>
      </label>
      <button style="font-weight:600;" ng-click="newCustomerRest(main.newCust)" class="button button-energized  button-block icon ion-android-checkbox-outline"> Sign Up</button>
    </form>
  </ion-content>
</ion-view>