<ion-view title="Deal Information" id="page104">
  <!--Gonna need a read and write from firebase-->
  <ion-content padding="true" class="has-header">
    <ion-list>
      <ion-item class="item-icon-right stable">Deal Name
        <i class="icon ion-edit icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right stable">Date of Deal
        <i class="icon ion-edit icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right stable">Time of Deal
        <i class="icon ion-edit icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right stable">Quantity of deals available
        <i class="icon ion-edit icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right stable">Conditions
        <i class="icon ion-edit icon-accessory"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <button style="font-weight:600;font-size:13px;" class="button button-assertive  icon ion-android-checkbox float-left"> Save Changes</button>
    <button style="font-weight:600;font-size:13px;" class="button button-energized  icon ion-android-remove-circle float-right"> Deactivate Deal</button>
  </ion-content>
</ion-view>
