<ion-view title="Edit Live Deal" id="editLiveDeal">
		<ion-content padding="true" class="has-header">
			<div>
				<form>
				
					<label class="item item-input">
					 	
						<input type="text" ng-model="dealToEdit.deal_name" />
						<i class="icon ion-edit icon-accessory"></i>
					</label>
				
				
				
					<label class="item item-input">
					 	
						<input type="text" ng-model="dealToEdit.startDate" />
						<i class="icon ion-edit icon-accessory"></i>
					</label>
				
				
				
					<label class="item item-input">
					 	
						<input type="text" ng-model="dealToEdit.endDate" />
						<i class="icon ion-edit icon-accessory"></i>
					</label>
				
				
				
					<label class="item item-input">
					 	
						<input type="text" ng-click="getStartTime()" ng-model="displayStartTime" />
						<i class="icon ion-edit icon-accessory"></i>
					</label>
				
				
				
					<label class="item item-input">
					 	
						<input type="text" ng-click="getEndTime()" ng-model="displayEndTime" />
						<i class="icon ion-edit icon-accessory"></i>
					</label>
				
				
				
					<label class="item item-input">
					 	
						<input type="text" ng-model="dealToEdit.numberAvailable" />
						<i class="icon ion-edit icon-accessory"></i>
					</label>
				
				
				
					<label class="item item-input">
					 	
						<input type="text" ng-model="dealToEdit.uptake" />
						<i class="icon ion-edit icon-accessory"></i>
					</label>
				
</form>
				<div class="spacer" style="width: 300px; height: 23px;"></div>
				<button style="font-weight:600; width:96%;display:inline-block;float:left;margin-right:2%;"
				class="button button-energized  icon ion-android-checkbox" ng-click="saveEdit(dealToEdit)">Save Changes</button>
		</div>
		
	</ion-content>

</ion-view>