<ion-view title="History" id="history">
  <ion-content padding="true" class="has-header">
   
    <div class="spacer" style="height: 60px;"></div>
    <div style="text-align:center;" class="show-list-numbers-and-dots" style="min-height:80px;">
      <p style="color:#857874;">View by Date</p>
    </div>
    <div class="spacer" style="height: 60px;"></div>
    <!--<form class="list">
      <label class="item item-input image" >
        <span class="input-label">Search by date</span>
        <input type="date" placeholder="">
      </label>
    </form>-->
    
    <ion-list>

      <ion-item class="item-avatar stable  item-text-wrap list-height today"
       ng-repeat="deal in historicalDeals" 
       ng-click="pastDealEdit(deal)">
       
        <img src="https://s3.amazonaws.com/ionic-io-static/EGzQ5CcDS3ODKJcQE11W_Asset 1.png">
        <!--<p style="white-space:normal;">-->
        <h2>{{deal.deal_name}}</h2><!--</p>-->
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
