<ion-view title="Live Deals" hide-back-button="true" id="page3">
  <ion-content padding="true" class="has-header">
  

  <input id="searchbar" style="padding:10px;margin-top:0px; width:100%" places-auto-complete size=80
    ng-model="main.address"
    component-restrictions="{country:'irl'}"
    types="{{types}}"
    on-place-changed="main.placeChanged()"//maybe add this to the disableTap function
    ng-focus="disableTap()" /> <br/>
     Welcome {{main.user.account_name}}
  <div ng-show="main.place">
    <!--Address = {{main.place.formatted_address}} <br/>
    Location: {{main.place.geometry.location}}<br/>-->
  </div>
  
	<ng-map center="[{{lat}}, {{long}}]">
		<marker id="{{r.id}}" position="{{r.coords}}"
				on-click="showDetail(r)" ng-repeat="r in restsWithCurrentDeal track by $index">
		</marker>
	<info-window id="iw">
		<div ng-non-bindable="">
			<div style="width: 160px; height:auto; padding:0;">
				<h4 style="text-align: center">{{main.rest.name}}</h4>
				<div style="width:40%; display:inline-block; float:left;">
					<img src="https://s3.amazonaws.com/ionic-io-static/EGzQ5CcDS3ODKJcQE11W_Asset 1.png">
				</div>        
				<div style="width:50%;  margin-left: 10%;display:inline-block; float:left;">                   
					<strong>Live Deal: </strong><br>{{main.rest.current_deal.deal_name}}<br><br>
				</div>
				<div>
					<button style="float:right;"><a href="#/reserveTable" ng-click="reserve(main.rest.current_deal, main.rest.$id, main.rest)">More Details
					</a></button>
				</div>
			</div>
		</div>
	</info-window>
  </ng-map>
    
    
  </ion-content>
</ion-view>
