<ion-view title="Login" id="page9">
  <ion-content padding="false" class="has-header">
    <form id="login-form8" class="list">
      <div>
        <img src="img/ZDnvKvYQHuTevuD7cQIy_Logotagline.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-list id="login-list1">
        <label class="item item-input" id="login-input1">
          <span class="input-label">Email</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="login-input2">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 14px;"></div>
      <a ui-sref="tabs.liveDeals" id="login-button6" class="button button-assertive  button-block">Log in</a>
      <a href="#" onclick="window.open('/signup', '_system', 'location=yes'); return false;" id="login-button7" class="button button-positive  button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>