<ion-view title="Login" id="login" style="background-color:default;">
  <ion-content padding="true" class="has-header">
    <form class="list">
      <div>
        <img src="https://s3.amazonaws.com/ionic-io-static/n5xqYMxvQ3GM09htPqdf_GrabaBite_logo-SafeArea.svg" style="display: block; width: 55%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="height: 15px;"></div>
      <ion-list>
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 23px;"></div>

      <a href="#/customerSignUp" style="font-weight:600;" class="button button-energized  button-block icon ion-android-checkbox-outline" > Customer</a>

      <div style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#857874;">
          <strong>or</strong>
        </p>
      </div>
      <a href="#/page201/page100" style="font-weight:600;" class="button button-assertive  button-block icon ion-android-checkbox-outline"> Restaurant</a>
    </form>
    <button ng-click="h()">dfgg</button>
  </ion-content>
</ion-view>
