<ion-view title="My Reservations" id="page4">
  <ion-content padding="true" class="has-header">
    <ion-list id="myReservations-list14">
      <a ui-sref="tabs.bookingDetails">
        <ion-item class="item-thumbnail-left stable  list-text" ng-repeat="r in reservations" ng-click="setReservation(r)">
          <img src="img/641p0zRjQ8yjLZsTAf0w_housre.png">
          <h2stable>{{r.restaurant_name}}

          </h2stable>
          <h1>{{r.restaurant_phone}}</h1>
        </ion-item>
      </a>
      
    </ion-list>
  </ion-content>
</ion-view>