<ion-view title="Please Try Again" id="page13">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/SuhWJ9zgSKSB8okcuwNK_logo.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h4 id="pleaseTryAgain-heading7" style="color:#857874;text-align:center;">Uh oh..there's nothing available on that date/for that restaurant</h4>
    <a ui-sref="tabs.refineYourSearch" id="pleaseTryAgain-button14" class="button button-assertive  button-block icon ion-android-search"> Search Again?</a>
    <div id="pleaseTryAgain-markdown21" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">or</p>
    </div>
    <a ui-sref="tabs.liveDeals" id="pleaseTryAgain-button15" class="button button-energized  button-block icon ion-android-home"> Look for Live Deals</a>
  </ion-content>
</ion-view>