<ion-view title="Booking Details" id="reservation_details">
  <ion-content padding="true" class="has-header">
    <ion-list>
      <ion-item class="item-avatar stable">
        <img src="https://s3.amazonaws.com/ionic-io-static/Q1akWQNhTfWulBha7I0g_Asset 1.png">
        <h2stable>Jennifer Nolan
          <p>087 1234567</p>
        </h2stable>
      </ion-item>
      <ion-item class="stable">557395</ion-item>
      <ion-item class="stable">27/1/17</ion-item>
      <ion-item class="stable">16.30</ion-item>
      <ion-item class="stable">FREE WINE FRIDAY! 4pm - 6pm</ion-item>
    </ion-list>
  </ion-content>
</ion-view>