<ion-view title="Reserve Table" id="reserveTable">
	<ion-content padding="true" class="has-header">
		<h1 id="reserveTable-heading14" style="color:#857874;text-align:center;">{{restaurant.type}}</h1>
		<div id="reserveTable-markdown4" style="text-align:center;" class="show-list-numbers-and-dots image">
			<p style="color:#857874;">{{restaurant.address}}</p>
		</div>
		<div style="margin-left: -10px; width: calc(100% + 20px);">
			<img src="img/U3wlA19mScqQL893gAnv_champneys.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
		</div>
		<h2 id="reserveDealHeader">{{reserveDeal.deal_name}}</h2>
		<p class="reserveDealPara">{{reserveDeal.details}}</p>
		<p class="reserveDealPara">You can avail of this deal between the dates {{displayStartDate | date:'MMM d y'}} and {{displayEndDate | date:'MMM d y'}}</p>
		<p class="reserveDealPara">Deal is only valid between the times {{displayStartTime}} and , {{displayEndTime}}</p>
		<form id="reserveTable-form11" class="list">	
			<div class="spacer" style="width: 300px; height: 10px;"></div>
			<label class="item item-input" id="reserveTable-input9">
				<span class="input-label"></span>
				<input type="text" ng-click="getReservationDate()" placeholder="{{resDate}}"autocomplete="off">
			</label>
			
			<label class="item item-input" id="reserveTable-input9">
				<span class="input-label"></span>
				<input type="text" ng-click="getReservationTime()" placeholder="{{resTime}}"autocomplete="off">
			</label>
		</form>
		<div class="spacer" style="width: 300px; height: 10px;"></div>
		<button id="reserveTable-button9" ng-click="makeReservation()" class="button button-assertive  button-block icon ion-android-checkbox-outline"> Reserve Table</button>
		
		<div class="spacer" style="width: 300px; height: 10px;"></div>
	</ion-content>
</ion-view>