<ion-view title="My Account" id="page101">
  <ion-content padding="true" class="has-header">
    <h3>Add a Reataurant</h3>


    <ion-list>


      <form class="form-inline" role="form" novalidate ng-submit="addRestaurant(newRest)">

      	<div class="form-group">
      	<!--//note to initalize angular fire and also to sync db with name heer-->
      		<ion-item class="stable"><input type="text" placeholder="Restaurant Name" ng-model="newRest.name"
      									ng-blur="main.updateRestaurant(restaurant)"/></ion-item>
      		<ion-item class="stable  item-text-wrap">
      		  	<input type="text" placeholder="Address Line 1, Line 2, 3" ng-model="newRest.address" />
      		</ion-item>
      		<ion-item class="stable  item-text-wrap">
      		  	<input type="text" placeholder="Restaurant Type" ng-model="newRest.type" />
      		  </ion-item>
      		<ion-item class="stable">
      		  	<input type="text" placeholder="Restaurant Email" ng-model="newRest.email"/>
      		  </ion-item>
      		<ion-item class="stable">
      		  	<input type="text" placeholder="Restaurant Phone" ng-model="newRest.phone"/>
      		  </ion-item>
<button class="button button-assertive  button-block icon ion-android-checkbox"> Save Changes</button>



      		  <!--<button type="button" ng-click="main.removeRestarant(restaurant)">Remove Restaurant </button>-->



      	</div>

      </form>


    <button class="button button-assertive  button-block icon ion-android-checkbox" ng-click="main.skip()"> skip</button>
  </ion-content>
</ion-view>
