<ion-view title="Live Deals Map" id="page105"><!--????-->
  <ion-content padding="true" class=" manual-remove-top-padding has-header">
    <creator-map-component options="{}" marker="true" location="ballyhack " zoom="13" style="display:block;position:relative;margin-left:-10px;width:calc(100% + 20px);height:470px;">
      <ui-gmap-google-map ng-if="map.center" center="map.center" zoom="map.zoom" options="map.options">
        <ui-gmap-marker coords="map.marker.coords" idkey="map.marker.id" options="map.marker.options"></ui-gmap-marker>
      </ui-gmap-google-map>
    </creator-map-component>
    
  </ion-content>
</ion-view>
