<ion-view title="Signup" id="page10">
  <ion-content padding="false" class="has-header">
    <form id="signup-form9" class="list">
      <div>
        <img src="img/XLaNxQPvTVeHLdWtxWiv_Logotagline.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-list id="signup-list2">
        <label class="item item-input" id="signup-input4">
          <input type="text" class="input_padding" placeholder="Name">
        </label>
        <label class="item item-input" id="signup-input8">
          <input type="email" class="input_padding" placeholder="Email">
        </label>
        <label class="item item-input" id="signup-input6">
          <input type="tel" class="input_padding" placeholder="Phone Number">
        </label>
        <label class="item item-input" id="signup-input5">
          <input type="password" class="input_padding" placeholder="Password">
        </label>
        <label class="item item-input" id="signup-input7">
          
          <input type="password" class="input_padding" placeholder="Password">
        </label>
      </ion-list>
      <a ui-sref="tabs.liveDeals" id="signup-button8" class="button button-assertive  button-block">Sign up</a>
    </form>
  </ion-content>
</ion-view>