<ion-view title="Table Booked" id="page11">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/e4NaxZdeSWmQdcRPxB6f_logo.png" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="list card manual-card-fullwidth" id="tableBooked-card22">
      <h2 id="tableBooked-heading8" style="color:#857874;text-align:center;">La Roche</h2>
      <h4 id="tableBooked-heading9" style="color:#857874;text-align:center;">17.45 | Today | Table for 2</h4>
      <div class="item item-body" id="tableBooked-list-item-container4">
        <div id="tableBooked-markdown7" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#857874;">Your booking code is:</p>
        </div>
        <h1 id="tableBooked-heading4" style="color:#857874;font-weight:600;text-align:center;">452147</h1>
        <div id="tableBooked-markdown8" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#857874;">You can find this code in My reservations anytime</p>
        </div>
      </div>
    </div>
    <div id="tableBooked-markdown11" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#857874;">Have a great meal!</p>
    </div>
  </ion-content>
</ion-view>