<ion-view title="Restaurant Dashboard" id="page201">
  <ion-tabs class="tabs-assertive tabs-icon-left" id="tabs-tabs1">


    <ion-tab title="Today" icon="No Icon" href="#/page201/page100" id="tabs-tab100" class="textsizetab bold">
      <ion-nav-view name="tab21"></ion-nav-view>
    </ion-tab>

    <ion-tab title="My Deals" icon="No Icon" href="#/page201/myDeals" id="tabs-myDeals" class="textsizetab">
      <ion-nav-view name="tab22"></ion-nav-view>
    </ion-tab>
    <!--do some js on these href attr() and title attr() on url specs cant remember exacty how; also had and subtract tabs somehow-->
    <ion-tab title="New Deal" icon="No Icon" href="#/page201/page102" id="tabs-tab102" class="textsizetab">
      <ion-nav-view name="tab23"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Bookings" icon="No Icon" href="#/page201/bookings" id="tabs-bookings" class="textsizetab">
      <ion-nav-view name="tab24"></ion-nav-view>
    </ion-tab>
    
  </ion-tabs>
</ion-view>
