/*var obj = $firebaseObject(ref);
obj.$bindTo($scope, 'main.newRestaurant');
*/


/*$scope.disableTap = function(){
  container = document.getElementsByClassName('pac-container');
  // disable ionic data tab
  angular.element(container).attr('data-tap-disabled', 'true');
  // leave input field if google-address-entry is selected
  angular.element(container).on("click", function(){
      document.getElementById('search').blur();
  });
};*/


/*main.place = this.getPlace();
  console.log('getPlace()');
console.log('location', main.place.geometry.location);
  //ATTENTION/////////////////////////////////////////////////// IS THERE A NEED FOR REPOSITION MAP FUNCTION NOW?
main.map.setCenter(main.place.geometry.location);*/

/*
	main.types = "['address']";
	  main.placeChanged = function() {
		  console.log(main.address);
	}*/

  /*for(var i=0;i<$scope.rests.length; i++){
    if((search.toLowerCase()) === ($scope.rests[0].name.toLowerCase())){
      var coords = $scope.rests[i].coords;
      $scope.lat = coords[0];
      $scope.long = coords[1];

      break;
    }

  }*/
