<ion-view title="Welcome to Grababite" hide-nav-bar="true" id="page14" style="background-color:#E03C31;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div>
      <img src="img/v553gi7sTL25kZsMadhu_Asset2.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" id="welcomeToGrababite-slider1" style="width:100%;height:200px;">
      <ion-slide-page id="welcomeToGrababite-slide24" style="background:url(img/avfsZwJT9WGsBj982ul1_kitten1.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="welcomeToGrababite-slide25" style="background:url(img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="welcomeToGrababite-slide26" style="background:url(img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <a ui-sref="tabs.liveDeals" id="welcomeToGrababite-button13" class="button button-energized  button-block">Get started!</a>
  </ion-content>
</ion-view>