.scroll{height:100%;}
#map{height:100%; width:100%;}
form{width:100%; float:left; background:#fff; display:inline-block;}

#liveDeals-search4{width:74%;}
#liveDeals-form6{margin-top:20px;margin-bottom:0px;}
#liveDeals-form7{width:20%;}
#liveDeals-button5{background: #fff;}
#submitSearch{background:yellow;}
#searchIcon{padding:5px 15px 5px 15px;font-size: 16px;display:inline-block;float:left;}
#searchbar{width:70%;display:inline-block;float:left}
#search{width:100%; padding:10px;}
#funnelIcon{padding:5px 15px 5px 15px;font-size: 16px;display:inline-block;float:right;}

